[submodule "extensions/org-noter"]
	path = extensions/org-noter
	url = https://github.com/zenith-john/org-noter
[submodule "extensions/fd-dired"]
	path = extensions/fd-dired
	url = https://github.com/yqrashawn/fd-dired
[submodule "extensions/sdcv"]
	path = extensions/sdcv
	url = https://github.com/manateelazycat/sdcv
[submodule "extensions/company-english-helper"]
	path = extensions/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper
[submodule "extensions/insert-translated-name"]
	path = extensions/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name
[submodule "extensions/awesome-tab"]
	path = extensions/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab
[submodule "extensions/keyfreq"]
	path = extensions/keyfreq
	url = https://github.com/dacap/keyfreq
[submodule "extensions/ox-hugo"]
	path = extensions/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo
[submodule "extensions/posframe"]
	path = extensions/posframe
	url = https://github.com/tumashu/posframe
[submodule "extensions/pyim"]
	path = extensions/pyim
	url = https://github.com/tumashu/pyim
[submodule "extensions/org-ref"]
	path = extensions/org-ref
	url = https://github.com/jkitchin/org-ref
[submodule "extensions/graphviz-dot-mode"]
	path = extensions/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode
[submodule "extensions/python-language-server"]
	path = extensions/python-language-server
	url = https://github.com/microsoft/python-language-server
	ignore = dirty
[submodule "extensions/lsp-python-ms"]
	path = extensions/lsp-python-ms
	url = https://github.com/andrew-christianson/lsp-python-ms
[submodule "extensions/org-edit-latex"]
	path = extensions/org-edit-latex
	url = https://github.com/et2010/org-edit-latex
[submodule "extensions/helm-bibtex"]
	path = extensions/helm-bibtex
	url = https://github.com/tmalsburg/helm-bibtex
[submodule "extensions/liberime"]
	path = extensions/liberime
	url = https://gitlab.com/liberime/liberime
	ignore = dirty
[submodule "extensions/expand-region"]
	path = extensions/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "extensions/multiple-cursor"]
	path = extensions/multiple-cursor
	url = https://github.com/magnars/multiple-cursors.el
[submodule "extensions/magit"]
	path = extensions/magit
	url = https://github.com/magit/magit
[submodule "extensions/use-package"]
	path = extensions/use-package
	url = https://github.com/jwiegley/use-package
[submodule "extensions/general.el"]
	path = extensions/general
	url = https://github.com/noctuid/general.el
[submodule "extensions/hydra"]
	path = extensions/hydra
	url = https://github.com/abo-abo/hydra
[submodule "extensions/pyvenv"]
	path = extensions/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "extensions/pipenv.el"]
	path = extensions/pipenv
	url = https://github.com/pwalsh/pipenv.el
[submodule "extensions/pip-requirements.el"]
	path = extensions/pip-requirements
	url = https://github.com/Wilfred/pip-requirements.el
[submodule "extensions/auto-save"]
	path = extensions/auto-save
	url = https://github.com/manateelazycat/auto-save
[submodule "extensions/emacs-python-pytest"]
	path = extensions/emacs-python-pytest
	url = https://github.com/wbolster/emacs-python-pytest
[submodule "extensions/importmagic"]
	path = extensions/importmagic
	url = https://github.com/anachronic/importmagic.el
[submodule "extensions/py-isort"]
	path = extensions/py-isort
	url = https://github.com/paetzke/py-isort.el
[submodule "extensions/pyimport"]
	path = extensions/pyimport
	url = https://github.com/Wilfred/pyimport
[submodule "extensions/emacs-epc"]
	path = extensions/emacs-epc
	url = https://github.com/kiwanami/emacs-epc
[submodule "extensions/emacs-deferred"]
	path = extensions/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "extensions/emacs-ctable"]
	path = extensions/emacs-ctable
	url = https://github.com/kiwanami/emacs-ctable
[submodule "extensions/lsp-ui"]
	path = extensions/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "extensions/lsp-mode"]
	path = extensions/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "extensions/company-lsp"]
	path = extensions/company-lsp
	url = https://github.com/tigersoldier/company-lsp
[submodule "extensions/emacs-ccls"]
	path = extensions/emacs-ccls
	url = https://github.com/MaskRay/emacs-ccls
[submodule "extensions/spinner"]
	path = extensions/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "extensions/avy"]
	path = extensions/avy
	url = https://github.com/abo-abo/avy
