[submodule "extensions/fd-dired"]
	path = extensions/fd-dired
	url = https://github.com/yqrashawn/fd-dired
[submodule "extensions/keyfreq"]
	path = extensions/keyfreq
	url = https://github.com/dacap/keyfreq
[submodule "extensions/ox-hugo"]
	path = extensions/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo
[submodule "extensions/posframe"]
	path = extensions/posframe
	url = https://github.com/tumashu/posframe
[submodule "extensions/pyim"]
	path = extensions/pyim
	url = https://github.com/tumashu/pyim
[submodule "extensions/graphviz-dot-mode"]
	path = extensions/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode
[submodule "extensions/helm-bibtex"]
	path = extensions/helm-bibtex
	url = https://github.com/tmalsburg/helm-bibtex
[submodule "extensions/liberime"]
	path = extensions/liberime
	url = https://gitlab.com/liberime/liberime
	ignore = dirty
[submodule "extensions/expand-region"]
	path = extensions/expand-region
	url = https://github.com/magnars/expand-region.el
[submodule "extensions/magit"]
	path = extensions/magit
	url = https://github.com/magit/magit
[submodule "extensions/general.el"]
	path = extensions/general
	url = https://github.com/noctuid/general.el
[submodule "extensions/hydra"]
	path = extensions/hydra
	url = https://github.com/abo-abo/hydra
[submodule "extensions/pyvenv"]
	path = extensions/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "extensions/pipenv.el"]
	path = extensions/pipenv
	url = https://github.com/pwalsh/pipenv.el
[submodule "extensions/pip-requirements.el"]
	path = extensions/pip-requirements
	url = https://github.com/Wilfred/pip-requirements.el
[submodule "extensions/emacs-python-pytest"]
	path = extensions/emacs-python-pytest
	url = https://github.com/wbolster/emacs-python-pytest
[submodule "extensions/pyimport"]
	path = extensions/pyimport
	url = https://github.com/Wilfred/pyimport
[submodule "extensions/avy"]
	path = extensions/avy
	url = https://github.com/abo-abo/avy
[submodule "extensions/ace-window"]
	path = extensions/ace-window
	url = https://github.com/abo-abo/ace-window
[submodule "extensions/ace-link"]
	path = extensions/ace-link
	url = https://github.com/abo-abo/ace-link
[submodule "extensions/pfuture"]
	path = extensions/pfuture
	url = https://github.com/Alexander-Miller/pfuture
[submodule "extensions/emacs-which-key"]
	path = extensions/emacs-which-key
	url = https://github.com/justbur/emacs-which-key
[submodule "extensions/cdlatex"]
	path = extensions/cdlatex
	url = https://github.com/cdominik/cdlatex
[submodule "extensions/all-the-icons"]
	path = extensions/all-the-icons
	url = https://github.com/domtronn/all-the-icons.el
[submodule "extensions/company-box"]
	path = extensions/company-box
	url = https://github.com/sebastiencs/company-box
[submodule "extensions/company-reftex"]
	path = extensions/company-reftex
	url = https://github.com/TheBB/company-reftex
[submodule "extensions/company-math"]
	path = extensions/company-math
	url = https://github.com/vspinu/company-math
[submodule "extensions/math-symbol-lists"]
	path = extensions/math-symbol-lists
	url = https://github.com/vspinu/math-symbol-lists
[submodule "extensions/company-mode"]
	path = extensions/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "extensions/parsebib"]
	path = extensions/parsebib
	url = https://github.com/joostkremers/parsebib
[submodule "extensions/biblio"]
	path = extensions/biblio
	url = https://github.com/cpitclaudel/biblio.el
[submodule "extensions/swiper"]
	path = extensions/swiper
	url = https://github.com/abo-abo/swiper
[submodule "extensions/darkroom"]
	path = extensions/darkroom
	url = https://github.com/joaotavora/darkroom
[submodule "extensions/modern-cpp-font-lock"]
	path = extensions/modern-cpp-font-lock
	url = https://github.com/ludwigpacifici/modern-cpp-font-lock
[submodule "extensions/org-bullets"]
	path = extensions/org-bullets
	url = https://github.com/Kaligule/org-bullets
[submodule "extensions/ob-async"]
	path = extensions/ob-async
	url = https://github.com/astahlman/ob-async
[submodule "extensions/emacs-async"]
	path = extensions/emacs-async
	url = https://github.com/jwiegley/emacs-async
[submodule "extensions/dash"]
	path = extensions/dash
	url = https://github.com/magnars/dash.el
[submodule "extensions/f"]
	path = extensions/f
	url = https://github.com/rejeep/f.el
[submodule "extensions/s"]
	path = extensions/s
	url = https://github.com/magnars/s.el
[submodule "extensions/markdown-mode"]
	path = extensions/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "extensions/emacs-memoize"]
	path = extensions/emacs-memoize
	url = https://github.com/skeeto/emacs-memoize
[submodule "extensions/auctex"]
	path = extensions/auctex
	url = https://git.savannah.gnu.org/git/auctex.git
[submodule "extensions/macrostep"]
	path = extensions/macrostep
	url = https://github.com/joddie/macrostep
[submodule "extensions/rainbow-delimiters"]
	path = extensions/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters
[submodule "extensions/yasnippet"]
	path = extensions/yasnippet
	url = https://github.com/joaotavora/yasnippet
[submodule "extensions/with-editor"]
	path = extensions/with-editor
	url = https://github.com/magit/with-editor
[submodule "extensions/transient"]
	path = extensions/transient
	url = https://github.com/magit/transient
[submodule "extensions/flx"]
	path = extensions/flx
	url = https://github.com/lewang/flx
[submodule "extensions/all-the-icons-ivy"]
	path = extensions/all-the-icons-ivy
	url = https://github.com/asok/all-the-icons-ivy
[submodule "extensions/emacs-wgrep"]
	path = extensions/emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep
[submodule "extensions/projectile"]
	path = extensions/projectile
	url = https://github.com/bbatsov/projectile
[submodule "extensions/helpful"]
	path = extensions/helpful
	url = https://github.com/Wilfred/helpful
[submodule "extensions/elisp-refs"]
	path = extensions/elisp-refs
	url = https://github.com/Wilfred/elisp-refs
[submodule "extensions/loop"]
	path = extensions/loop
	url = https://github.com/Wilfred/loop.el
[submodule "extensions/shut-up"]
	path = extensions/shut-up
	url = https://github.com/cask/shut-up
[submodule "extensions/emacs-git-gutter"]
	path = extensions/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter
[submodule "extensions/flycheck"]
	path = extensions/flycheck
	url = https://github.com/flycheck/flycheck
[submodule "extensions/smartparens"]
	path = extensions/smartparens
	url = https://github.com/Fuco1/smartparens
[submodule "extensions/company-auctex"]
	path = extensions/company-auctex
	url = https://github.com/alexeyr/company-auctex
[submodule "extensions/goto-line-preview"]
	path = extensions/goto-line-preview
	url = https://github.com/elpa-host/goto-line-preview
[submodule "extensions/emacs-git-gutter-fringe"]
	path = extensions/emacs-git-gutter-fringe
	url = https://github.com/syohex/emacs-git-gutter-fringe
[submodule "extensions/fringe-helper"]
	path = extensions/fringe-helper
	url = https://github.com/nschum/fringe-helper.el
[submodule "extensions/ibuffer-projectile"]
	path = extensions/ibuffer-projectile
	url = https://github.com/purcell/ibuffer-projectile
[submodule "extensions/ws-butler"]
	path = extensions/ws-butler
	url = https://github.com/lewang/ws-butler
[submodule "extensions/git-timemachine"]
	path = extensions/git-timemachine
	url = https://gitlab.com/pidu/git-timemachine
[submodule "extensions/pythonic"]
	path = extensions/pythonic
	url = https://github.com/pythonic-emacs/pythonic
[submodule "extensions/evil"]
	path = extensions/evil
	url = https://github.com/emacs-evil/evil
[submodule "extensions/evil-collection"]
	path = extensions/evil-collection
	url = https://github.com/emacs-evil/evil-collection
[submodule "extensions/annalist"]
	path = extensions/annalist
	url = https://github.com/noctuid/annalist.el
[submodule "extensions/org-mode"]
	path = extensions/org-mode
	url = https://code.orgmode.org/bzg/org-mode
[submodule "extensions/xr"]
	path = extensions/xr
	url = https://github.com/mattiase/xr
[submodule "extensions/qtermwidget"]
	path = extensions/qtermwidget
	url = https://github.com/lxqt/qtermwidget
[submodule "extensions/evil-matchit"]
	path = extensions/evil-matchit
	url = https://github.com/redguardtoo/evil-matchit
[submodule "extensions/evil-org-mode"]
	path = extensions/evil-org-mode
	url = https://github.com/Somelauw/evil-org-mode
[submodule "extensions/flycheck-posframe"]
	path = extensions/flycheck-posframe
	url = https://github.com/alexmurray/flycheck-posframe
[submodule "extensions/which-key-posframe"]
	path = extensions/which-key-posframe
	url = https://github.com/yanghaoxie/which-key-posframe
[submodule "extensions/ivy-posframe"]
	path = extensions/ivy-posframe
	url = https://github.com/tumashu/ivy-posframe
[submodule "extensions/fuz.el"]
	path = extensions/fuz
	url = https://github.com/rustify-emacs/fuz.el
[submodule "extensions/nox"]
	path = extensions/nox
	url = https://github.com/manateelazycat/nox
[submodule "extensions/emacs-format-all-the-code"]
	path = extensions/emacs-format-all-the-code
	url = https://github.com/lassik/emacs-format-all-the-code
[submodule "extensions/emacs-language-id"]
	path = extensions/emacs-language-id
	url = https://github.com/lassik/emacs-language-id
[submodule "extensions/pyenv-mode"]
	path = extensions/pyenv-mode
	url = https://github.com/pythonic-emacs/pyenv-mode
[submodule "extensions/unicode-escape"]
	path = extensions/unicode-escape
	url = https://github.com/kosh04/unicode-escape.el
[submodule "extensions/names"]
	path = extensions/names
	url = https://github.com/Malabarba/names
[submodule "extensions/libegit2"]
	path = extensions/libgit
	url = https://github.com/magit/libegit2
[submodule "extensions/amx"]
	path = extensions/amx
	url = https://github.com/DarwinAwardWinner/amx
[submodule "extensions/ebib"]
	path = extensions/ebib
	url = https://github.com/joostkremers/ebib
[submodule "extensions/org-mind-map"]
	path = extensions/org-mind-map
	url = https://github.com/the-humanities/org-mind-map
[submodule "extensions/org-edit-latex"]
	path = extensions/org-edit-latex
	url = https://github.com/et2010/org-edit-latex
[submodule "extensions/evil-surround"]
	path = extensions/evil-surround
	url = https://github.com/emacs-evil/evil-surround
[submodule "extensions/evil-nerd-commenter"]
	path = extensions/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter
[submodule "extensions/rg"]
	path = extensions/rg
	url = https://github.com/dajva/rg.el
[submodule "extensions/org-ref"]
	path = extensions/org-ref
	url = https://github.com/jkitchin/org-ref
[submodule "extensions/emacs-htmlize"]
	path = extensions/emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize
[submodule "extensions/rust-mode"]
	path = extensions/rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "extensions/qt-pro-mode"]
	path = extensions/qt-pro-mode
	url = https://github.com/EricCrosson/qt-pro-mode
[submodule "extensions/flycheck-clang-tidy"]
	path = extensions/flycheck-clang-tidy
	url = https://github.com/ch1bo/flycheck-clang-tidy
[submodule "extensions/wucuo"]
	path = extensions/wucuo
	url = https://github.com/redguardtoo/wucuo
[submodule "extensions/flyspell-correct"]
	path = extensions/flyspell-correct
	url = https://github.com/d12frosted/flyspell-correct
[submodule "extensions/visual-fill-column"]
	path = extensions/visual-fill-column
	url = https://github.com/joostkremers/visual-fill-column
[submodule "extensions/emacs-doom-themes"]
	path = extensions/emacs-doom-themes
	url = https://github.com/hlissner/emacs-doom-themes
[submodule "extensions/doom-modeline"]
	path = extensions/doom-modeline
	url = https://github.com/seagle0128/doom-modeline
[submodule "extensions/shrink-path"]
	path = extensions/shrink-path
	url = https://gitlab.com/bennya/shrink-path.el
[submodule "extensions/shackle"]
	path = extensions/shackle
	url = https://depp.brause.cc/shackle.git
[submodule "extensions/emacs-rime"]
	path = extensions/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "extensions/auctex-latexmk"]
	path = extensions/auctex-latexmk
	url = https://github.com/tom-tan/auctex-latexmk/
[submodule "extensions/counsel-projectile"]
	path = extensions/counsel-projectile
	url = https://github.com/ericdanan/counsel-projectile
[submodule "extensions/evil-anzu"]
	path = extensions/evil-anzu
	url = https://github.com/emacsorphanage/evil-anzu
[submodule "extensions/anzu"]
	path = extensions/anzu
	url = https://github.com/emacsorphanage/anzu
[submodule "extensions/evil-pinyin"]
	path = extensions/evil-pinyin
	url = https://github.com/laishulu/evil-pinyin
[submodule "extensions/dired-hacks"]
	path = extensions/dired-hacks
	url = https://github.com/Fuco1/dired-hacks
[submodule "extensions/emacs-jupyter"]
	path = extensions/emacs-jupyter
	url = https://github.com/nnicandro/emacs-jupyter
[submodule "extensions/emacs-zmq"]
	path = extensions/emacs-zmq
	url = https://github.com/nnicandro/emacs-zmq
[submodule "extensions/emacs-web-server"]
	path = extensions/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server
[submodule "extensions/emacs-websocket"]
	path = extensions/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket
[submodule "extensions/emacs-libvterm"]
	path = extensions/emacs-libvterm
	url = https://github.com/akermu/emacs-libvterm
[submodule "extensions/multi-vterm"]
	path = extensions/multi-vterm
	url = https://github.com/suonlight/multi-vterm
[submodule "extensions/emacs-winum"]
	path = extensions/emacs-winum
	url = https://github.com/deb0ch/emacs-winum
[submodule "extensions/ESS"]
	path = extensions/ESS
	url = https://github.com/emacs-ess/ESS
[submodule "extensions/auto-capitalize-el"]
	path = extensions/auto-capitalize-el
	url = https://github.com/yuutayamada/auto-capitalize-el
[submodule "extensions/frame-local"]
	path = extensions/frame-local
	url = https://github.com/sebastiencs/frame-local
[submodule "extensions/org-download"]
	path = extensions/org-download
	url = https://github.com/abo-abo/org-download
[submodule "extensions/alert"]
	path = extensions/alert
	url = https://github.com/jwiegley/alert
[submodule "extensions/org-wild-notifier"]
	path = extensions/org-wild-notifier
	url = https://github.com/akhramov/org-wild-notifier.el
[submodule "extensions/org-super-links"]
	path = extensions/org-super-links
	url = https://github.com/toshism/org-super-links
	branch = develop
[submodule "extensions/ledger-mode"]
	path = extensions/ledger-mode
	url = https://github.com/ledger/ledger-mode
