body {
    background: #2C323C;
    margin: 0px;
    padding: 0px;
}
.markdown-body {
    background: #2C323C;
}

.markdown-body a {
	color: #61AFEF;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	font-weight: 600;
	color: #E06C75;
}

.markdown-body,
.markdown-body pre code {
	color: #ABB2BF;
}

.markdown-body code {
	color: #90C378;
}

.markdown-body pre:not(.hljs),
.markdown-body code>div {
	background-color: #2C323C;
}

.markdown-body table>thead>tr>th {
	border-color: #2C323C;
}

.markdown-body h1,
.markdown-body hr,
.markdown-body table>tbody>tr+tr>td {
	border-color: #2C323C;
}

.markdown-body blockquote {
	color: #5C6370;
	font-style: italic;
	background: transparent;
	border-color: #2C323C;
}
